body{
    margin: 0px;
    padding: 0px;
    font-family: "Lora", serif;
    background-color: #000;
}

.logo{
    height: 2.5rem;
}
.navbar-brand .logo {
    width: 40px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
}

.carousel-inner {
    max-height: 750px;
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
}

.textoquienes{
    color: white;
    text-align: center;
    font-weight: 400;

}
.fa-plane{
    color: aliceblue;
    margin-left: 190px;
    margin-right: 190px;
}

.fa-mountain{
    color: aliceblue;
    margin-left: 190px;
    margin-right: 190px;

}

.fa-route{
    color: aliceblue;
    margin-left: 190px;
    margin-right: 190px;

}

.parrafoicons{
    color: white;
    font-size: 1rem;
    
}

.botones{
    background-color: #00c993;
}

.textodestacados{
    color: white;
    text-align: center;
    font-weight: 400;
}

.fotoscard{
    width: 285px;
    height: 240px;
}

/* para que se pegen a la izquierda cartas en dispositivos moviles */
@media (max-width:768px){
    .destacados .card{
        margin-left: 35px;
    }

}

/* sacarle la linea de abajo subrayado a los link */
a{
    text-decoration: none;
}


