body{
    margin: 0px;
    padding: 0px;
    font-family: "Lora", serif;
    background-color: #155597;
}

.logo{
    height: 2.5rem;
}
.navbar-brand .logo {
    width: 40px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
}

.carousel-inner {
    max-height: 750px;
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
}

.textoquienes{
    color: white;
    text-align: center;
    font-weight: 400;

}
.fa-plane{
    color: aliceblue;
    margin-left: 190px;
    margin-right: 190px;
}

.fa-mountain{
    color: aliceblue;
    margin-left: 190px;
    margin-right: 190px;

}

.fa-route{
    color: aliceblue;
    margin-left: 190px;
    margin-right: 190px;

}

.parrafoicons{
    color: white;
    font-size: 1rem;
    
}

.textodestacados{
    color: white;
    text-align: center;
    font-weight: 400;
}


